{
  "presets": [
    ["@babel/env", {
      "modules": false,
      "bugfixes": true
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-private-methods"
  ]
}
