@import 'normalize', 'colors', 'compass';

* {
  @include box-sizing(border-box);
}

body {
  background-color: $bg-color;
  color: $text-color;
  font: 12px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wrapper {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
}

@media all and (max-width: 500px) {
  body {padding: 0 20px}
}
