@import 'compass', 'normalize', url(http://fonts.googleapis.com/css?family=Lato:100,400);

* {
  @include box-sizing(border-box);
}

html,
body {
  height: 100%;
}

body {
  @include transform(translateZ(0));
  font: 12px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  @include transition(color 400ms ease-in-out, background-color 400ms ease-in-out);
  color: #999;
}

a {
  text-decoration: none;
  color: #ccc;
}

.main-content {
  display: table;
  max-width: 500px;
  height: 100%;
  vertical-align: middle;
  margin: 0 auto;
}

.main-container--inner {
  display: table-cell;
  vertical-align: middle;
  border-bottom-color: rgba(0,0,0,.25);
}

input {
  display: block;
  border: none;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: inherit;
  width: 100%;
  font-size: 45px;
  line-height: 1.5em;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  background: rgba(0, 0, 0, 0);
  color: inherit;
  text-align: center;
  outline: none;

  &::-webkit-input-placeholder {
    color: inherit;
  }
}

.footer {
  position: absolute;
  bottom: 15px;
  right: 20px;
  font-size: 9px;
  text-transform: uppercase;
  color: inherit;

  p {
    margin: 0 5px;
    display: inline-block;
  }
}

@media all and (max-width: 500px) {
  body {
    padding: 0 20px;
  }

  input {
    font-size: 30px;
    font-weight: 400;
  }

  .footer {
    width: 100%;
    text-align: center;
    right: 0;
    p {
      display: block;
      margin: 0;
    }
  }
}
