@import '@simonwep/pickr/dist/themes/nano.min.css';
@import 'lib/vendor-overrides/pickr.css';
@import 'lib/components/header.css';
@import 'lib/components/footer.css';
@import 'lib/components/buttons.css';
@import 'lib/components/inputs.css';
@import 'lib/components/color-item.css';
@import 'lib/components/toast.css';
@import 'lib/utils.css';
@import 'lib/style.css';

:root {
  --cc-main-color: #fff;
  --cc-main-solid-color: #fff;
  --cc-text-color: #000;
  --cc-border-color: #e6e6e6;

  --cc-transition-timing: ease-out;
  --cc-transition-duration: 260ms;

  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  line-height: 1.618;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-kerning: none;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

a {
  display: inline-flex;
  align-items: center;
  color: inherit;
}

svg {
  fill: currentColor;
}

[disabled] {
  opacity: 0.5;
}
